@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*{
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

body {
    background-color:  #5DE6DE;
    background-image: linear-gradient(315deg, aliceblue 100%, #f5f7fa 74%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

.quiz-container {
    background-color: rgb(41, 94, 142);
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.2);
    overflow: hidden;
    width: 600px;
    max-width: 100%;
}

.quiz-header {
    padding: 4rem;
}

h2 {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li{
    font-size: 1.2rem;
    margin: 1rem 0;
}

ul li label {
    cursor: pointer;
}


button {
    background-color: aquamarine;
    border: none;
    color: blk;
    cursor: pointer;
    display: block;
    font-family: inherit; 
    width: 100%;
    font-size: 1.5rem;
    padding: 1rem;
}

button:hover {
    background-color: cyan;
}

