<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css
    <title>Current Buzz</title>
</head>
<body>
    <div id="heading1">
        <h1>
        Welcome to Current Buzz, {{session['first_name']}}
        </h1>
    </div>
    <p>
        <a href="/user/logout">
            Logout
        </a>
    </p>
    <div>
        <h2>Charge Station Updates</h2>
    </div>
    <table>
        <tr>
            <th>
                Location 
            </th>
            <th> 
                Station Number  
            </th>
            <th> 
                Charging Speed 
            </th>
            <th> 
                Comments
            </th>
            <th> 
                Actions
            </th>
        </tr>
        {% for station in stations_list: %}
        <tr> 
            <td>
                {{station.address}} 
            </td>
            <td>
                {{station.station}}
            </td>
            <td>
                {{station.charging_speed}}
            </td>
            <td>
                {{station.content}}
            </td>
            <td>
                <a href="/show/{{station.id}}">View</a>
                <a href="/stations/{{station.id}}/edit">Edit</a>
                <a href="/stations/{{station.id}}/delete">Delete</a>
                {#<!-- {% if session['users_id'] == station.id: %}  
                
                
                {% endif %} -->#}
            </td>
        </tr>
        {% endfor %}
    </table>
    <p>
        <a href="/new">
            +Add A Station 
        </a>
    </p>
</body>
</html>