<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CurrentBuzz</title>
</head>
<body>
    <p>
        <a href="/stations">
            Dashboard 
        </a>
    </p>
    <p>
        <a href="/user/logout">
            Logout
        </a>
    </p>

            

            <div>
                Station Number: {{current_station.station}} 
            </div>
            <div>
                Location:{{current_station.address}}
            </div>
            <div>
                Comment:{{current_station.content}}
            </div>
            <div>
                Charging Speed:{{current_station.charging_speed}}
            </div>
            <button type="submit">Post</button>

    </table>
</body>
</html>


<!-- why isnt my code saving to the database when i add new users -->
<!-- <div id="heading1">
</div> -->
<!-- <div id="gry"><a href="/shows">Shows</a></div> -->