<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test App</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='my_style.css')}}"
    />
  </head>

  <style>
    body{
        background-color:#99cfff;
background-image:
radial-gradient(at 97% 22%, hsla(87,63%,77%,1) 0px, transparent 50%),
radial-gradient(at 33% 62%, hsla(11,91%,73%,1) 0px, transparent 50%),
radial-gradient(at 11% 26%, hsla(355,82%,68%,1) 0px, transparent 50%),
radial-gradient(at 65% 91%, hsla(97,96%,69%,1) 0px, transparent 50%),
radial-gradient(at 63% 49%, hsla(235,91%,69%,1) 0px, transparent 50%),

    }

</style>

  <body>
    <div class="container">
      <div id="heading1">
        <h1>
        Let's Get Learning {{session['first_name']}} {{session['last_name']}}!!!!
        </h1>
    </div>
    <p>
        <a href="/user/logout"><button>Logout</button></a>
    </p>

  <div id="top">
    <div><p>
        <a href="/tests/general"><button>General</button></a>
    </p></div>  
    <div><p>
        <a href="/tests/anime"><button>Anime</button></a>
    </p></div>
      
      <p>
        <a href="/tests/history"><button>History</button></a>
    </p>
</div>

  <a href="/mytests"><button>My Tests</button></a>
  <p>
    
</p>

    <div>
        <h2>Top Scores</h2>
    </div>
    <table>
        <tr>
            <th>
                Member Name 
            </th>
            <th> 
                Subject  
            </th>
            <th> 
              Score  
            </th>
            <th> 
                Actions
            </th>
        </tr>
        {% for test in tests_list: %}
        <tr> 
            <td>
                {{test.first_name}} {{test.last_name}} 
            </td>
            <td>
                {{test.subject}}
            </td>
            <td>
                {{test.score}}
            </td>
            <td>
                
                {% if test.user_id == session.user_id %}
                <a href="/test/{{test.id}}/edit">Edit</a>
                <a href="/test/{{test.id}}/delete">Delete</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
  </body>
</html>